In [1]:
# Dependencies 

import pandas as pd
import os
from sqlalchemy import create_engine
import psycopg2

In [2]:
# read in DarkPool data csv

DP_df = pd.read_csv("Resources/DP_Data.csv")

# read in Nasdaq data csv

Nasdaq_df = pd.read_csv("Resources/nasdaq.csv")
Nasdaq_df.head()

  Symbol      Date   Open   High      Low    Close    Volume
0   AACG  7-Aug-20   1.27   1.28   1.2000   1.2612     17800
1  AACQU  7-Aug-20  10.10  10.17  10.0500  10.1300    149600
2    AAL  7-Aug-20  12.86  13.16  12.5800  13.0300  61700700
3   AAME  7-Aug-20   1.88   1.94   1.8203   1.8500      1900
4   AAOI  7-Aug-20  17.31  17.57  15.6300  15.8000   4356600

In [3]:
# print out column data types

for col in DP_df.columns: 
    print(col) 

print(DP_df.dtypes)

Date
 Timestamp
 Ticker
 Volume
  Price
 % of 30DayAvg
 Notional
 Message
 SecurityType
 Industry
 Sector
  30DayAverage
 Float
 EarningsDate
Date                object
 Timestamp          object
 Ticker             object
 Volume            float64
  Price             object
 % of 30DayAvg      object
 Notional           object
 Message            object
 SecurityType       object
 Industry           object
 Sector             object
  30DayAverage      object
 Float             float64
 EarningsDate       object
dtype: object

In [4]:
# print out column names 

print(DP_df.columns.tolist())

['Date', ' Timestamp', ' Ticker', ' Volume', '  Price ', ' % of 30DayAvg', ' Notional', ' Message', ' SecurityType', ' Industry', ' Sector', '  30DayAverage ', ' Float', ' EarningsDate']

In [5]:
# restructure dataframe based on columns we need

DP_df.reset_index(drop=True, inplace=True)
cols= [0,2,3,8,9,10]
New_DP_df = DP_df[DP_df.columns[cols]]
New_DP_df = New_DP_df.dropna()
New_DP_df.reset_index(drop=True, inplace=True)
New_DP_df

,Date,Ticker,Volume,SecurityType,Industry,Sector
0,8/7/2020,AAP,822294.0,Equity,Retail - Automotive,Retail
1,8/7/2020,AAPL,180000.0,Equity,Computer Hardware & Equipment,IT Hardware
2,8/7/2020,AAPL,100000.0,Equity,Computer Hardware & Equipment,IT Hardware
3,8/7/2020,AAPL,163000.0,Equity,Computer Hardware & Equipment,IT Hardware
4,8/7/2020,AAPL,215000.0,Equity,Computer Hardware & Equipment,IT Hardware
...,...,...,...,...,...,...
291,8/7/2020,ZLAB,197790.0,Equity,Pharmaceuticals,Pharmaceuticals & Biotechnology
292,8/7/2020,ZNGA,983100.0,Equity,Internet & Software,IT Services & Software
293,8/7/2020,ZNGA,556900.0,Equity,Internet & Software,IT Services & Software
294,8/7/2020,ZNGA,1000000.0,Equity,Internet & Software,IT Services & Software
295,8/7/2020,ZTO,209593.0,Equity,Shipping,Transport

In [6]:
# count instances of individual block orders per ticker

stock_data = New_DP_df.groupby([' Ticker'])
transaction_count = stock_data[' Ticker'].count()
total_shares = New_DP_df[' Volume'].sum()
transaction_count.head()

 Ticker
AAP     1
AAPL    9
ADBE    5
AKAM    1
AMAT    2
Name:  Ticker, dtype: int64

In [7]:
# aggregate volume of block order purchases 

stock_vol= New_DP_df.groupby([' Ticker','Date',' SecurityType',' Industry',' Sector'])[' Volume'].agg('sum')
stock_vol.head()

 Ticker  Date       SecurityType   Industry                       Sector
AAP      8/7/2020  Equity         Retail - Automotive            Retail                     822294.0
AAPL     8/7/2020  Equity         Computer Hardware & Equipment  IT Hardware               1639542.0
ADBE     8/7/2020  Equity         Internet & Software            IT Services & Software    1189000.0
AKAM     8/7/2020  Equity         Internet & Software            IT Services & Software     167219.0
AMAT     8/7/2020  Equity         Semiconductors                 IT Hardware                344000.0
Name:  Volume, dtype: float64

In [8]:
# aggregate block trade volume by ticker

stock_vol= New_DP_df.groupby([' Ticker'])[' Volume'].agg('sum')
stock_vol.head()

 Ticker
AAP      822294.0
AAPL    1639542.0
ADBE    1189000.0
AKAM     167219.0
AMAT     344000.0
Name:  Volume, dtype: float64

In [9]:
# renaming columns 

stock_df = pd.DataFrame({               
                        "Block Order Transactions":transaction_count,
                        "Block Order Volume":stock_vol
                        })
stock_df.reset_index(level=[' Ticker'])

stock_df.reset_index()
stock_df

         Block Order Transactions  Block Order Volume
 Ticker
AAP                             1            822294.0
AAPL                            9           1639542.0
ADBE                            5           1189000.0
AKAM                            1            167219.0
AMAT                            2            344000.0
...                           ...                 ...
Z                               3            613601.0
ZEN                             1            276800.0
ZLAB                            1            197790.0
ZNGA                            3           2540000.0
ZTO                             1            209593.0

[175 rows x 2 columns]

In [10]:
# Merge Summary with Detail

master_df = pd.merge(stock_df,New_DP_df,on=' Ticker',how='left')

# Drop duplicates

master_df = master_df.drop(' Volume', axis=1)
master_df = master_df.drop_duplicates(subset=None, keep='first', inplace=False)
master_df

,Ticker,Block Order Transactions,Block Order Volume,Date,SecurityType,Industry,Sector
0,AAP,1,822294.0,8/7/2020,Equity,Retail - Automotive,Retail
1,AAPL,9,1639542.0,8/7/2020,Equity,Computer Hardware & Equipment,IT Hardware
10,ADBE,5,1189000.0,8/7/2020,Equity,Internet & Software,IT Services & Software
15,AKAM,1,167219.0,8/7/2020,Equity,Internet & Software,IT Services & Software
16,AMAT,2,344000.0,8/7/2020,Equity,Semiconductors,IT Hardware
...,...,...,...,...,...,...,...
287,Z,3,613601.0,8/7/2020,Equity,Internet & Software,IT Services & Software
290,ZEN,1,276800.0,8/7/2020,Equity,Internet & Software,IT Services & Software
291,ZLAB,1,197790.0,8/7/2020,Equity,Pharmaceuticals,Pharmaceuticals & Biotechnology
292,ZNGA,3,2540000.0,8/7/2020,Equity,Internet & Software,IT Services & Software
295,ZTO,1,209593.0,8/7/2020,Equity,Shipping,Transport

In [11]:
# inspecting Nasdaq csv

print(Nasdaq_df.columns.tolist())
print(Nasdaq_df)

['Symbol', 'Date', 'Open', 'High', 'Low', 'Close', 'Volume']
     Symbol      Date   Open   High      Low    Close    Volume
0      AACG  7-Aug-20   1.27   1.28   1.2000   1.2612     17800
1     AACQU  7-Aug-20  10.10  10.17  10.0500  10.1300    149600
2       AAL  7-Aug-20  12.86  13.16  12.5800  13.0300  61700700
3      AAME  7-Aug-20   1.88   1.94   1.8203   1.8500      1900
4      AAOI  7-Aug-20  17.31  17.57  15.6300  15.8000   4356600
...     ...       ...    ...    ...      ...      ...       ...
3437   ZSAN  7-Aug-20   1.59   1.64   1.4350   1.5600  17881100
3438   ZUMZ  7-Aug-20  22.41  24.09  22.4100  23.8000    226600
3439    ZVO  7-Aug-20   6.32   6.59   6.1000   6.4100   1266300
3440   ZYNE  7-Aug-20   4.30   4.33   4.1200   4.2200    542800
3441   ZYXI  7-Aug-20  17.05  17.43  16.6870  17.0400    681400

[3442 rows x 7 columns]

In [12]:
new_nasdaq_df = Nasdaq_df.drop(['Date','Open','High','Low','Close'],axis=1)
print(new_nasdaq_df.head())

  Symbol    Volume
0   AACG     17800
1  AACQU    149600
2    AAL  61700700
3   AAME      1900
4   AAOI   4356600

In [13]:
# rename ticker column to symbol

master_df1 = master_df.rename(columns={' Ticker': 'Symbol'})
master_df1

,Symbol,Block Order Transactions,Block Order Volume,Date,SecurityType,Industry,Sector
0,AAP,1,822294.0,8/7/2020,Equity,Retail - Automotive,Retail
1,AAPL,9,1639542.0,8/7/2020,Equity,Computer Hardware & Equipment,IT Hardware
10,ADBE,5,1189000.0,8/7/2020,Equity,Internet & Software,IT Services & Software
15,AKAM,1,167219.0,8/7/2020,Equity,Internet & Software,IT Services & Software
16,AMAT,2,344000.0,8/7/2020,Equity,Semiconductors,IT Hardware
...,...,...,...,...,...,...,...
287,Z,3,613601.0,8/7/2020,Equity,Internet & Software,IT Services & Software
290,ZEN,1,276800.0,8/7/2020,Equity,Internet & Software,IT Services & Software
291,ZLAB,1,197790.0,8/7/2020,Equity,Pharmaceuticals,Pharmaceuticals & Biotechnology
292,ZNGA,3,2540000.0,8/7/2020,Equity,Internet & Software,IT Services & Software
295,ZTO,1,209593.0,8/7/2020,Equity,Shipping,Transport

In [20]:
# Merge Block Order Data and Nasdaq Data

final_df = pd.merge(new_nasdaq_df, master_df1, on = 'Symbol')

# rearrange columns............... thanks TowardsDataScience

def movecol(df, cols_to_move=[], ref_col='', place='After'):
    
    cols = df.columns.tolist()
    if place == 'After':
        seg1 = cols[:list(cols).index(ref_col) + 1]
        seg2 = cols_to_move
    if place == 'Before':
        seg1 = cols[:list(cols).index(ref_col)]
        seg2 = cols_to_move + [ref_col]
    
    seg1 = [i for i in seg1 if i not in seg2]
    seg3 = [i for i in cols if i not in seg1 + seg2]
    
    return(df[seg1 + seg2 + seg3])

# moving the date column 

final_df = movecol(final_df,cols_to_move=['Date'], ref_col='Symbol',place='After')

# moving the block order volume column 

final_df = movecol(final_df,cols_to_move=['Block Order Volume'], ref_col = 'Volume', place='After')



#set index to symbol

final_df.set_index('Symbol', inplace=True)

# renaming the volume column 

final_df.rename(columns={'Volume':'Daily Volume'})

,Date,Daily Volume,Block Order Volume,Block Order Transactions,SecurityType,Industry,Sector
Symbol,,,,,,,
AAPL,8/7/2020,49511400,1639542.0,9,Equity,Computer Hardware & Equipment,IT Hardware
ADBE,8/7/2020,3289600,1189000.0,5,Equity,Internet & Software,IT Services & Software
AKAM,8/7/2020,1697700,167219.0,1,Equity,Internet & Software,IT Services & Software
AMAT,8/7/2020,7124200,344000.0,2,Equity,Semiconductors,IT Hardware
AMD,8/7/2020,66543100,185000.0,1,Equity,Semiconductors,IT Hardware
...,...,...,...,...,...,...,...
VIAC,8/7/2020,11786300,488700.0,2,Equity,Radio & Television,Media
XLRN,8/7/2020,995700,292922.0,1,Equity,Pharmaceuticals,Pharmaceuticals & Biotechnology
Z,8/7/2020,27336700,613601.0,3,Equity,Internet & Software,IT Services & Software
ZLAB,8/7/2020,446900,197790.0,1,Equity,Pharmaceuticals,Pharmaceuticals & Biotechnology
ZNGA,8/7/2020,43213800,2540000.0,3,Equity,Internet & Software,IT Services & Software

In [21]:
# check for duplicates 

dfObj = pd.DataFrame(Nasdaq_df, columns=['Symbol'])

# Find a duplicate rows
duplicateDFRow = dfObj[dfObj.duplicated()]
print(duplicateDFRow)

Empty DataFrame
Columns: [Symbol]
Index: []

In [23]:
# create connection to postgreSQL and load data

engine = create_engine('postgresql://postgres:postgres@localhost/etl-project')
conn=engine.connect()
table_name='BlockOrderDailyVolume'
final_df.to_sql(table_name, conn)